
@import "tailwindcss";

/* Finpolar Genel Teması */
body {
  background-color: #ffffff; /* GitHub koyu teması gibi */
  color: #e6edf3;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
/* 🚀 REACT-BOOTSTRAP ANİMASYON SİHRİ */
.dropdown-menu {
  /* Başlangıç Durumu */
  opacity: 0;
  transform: scale(0.95) translateY(-5px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out !important;
  display: block !important; /* Bootstrap'in pat diye açılmasını engellemek için block'a zorluyoruz */
  
  /* Menü kapalıyken görünmez ve tıklanamaz olsun */
  visibility: hidden; 
  pointer-events: none;
}

/* React-Bootstrap menüyü açtığında burası tetiklenir */
.dropdown-menu.show {
  /* Bitiş Durumu */
  opacity: 1;
  transform: scale(1) translateY(0);
  visibility: visible;
  pointer-events: auto;
}